<p id="notice"><%= notice %></p>

<h1>Strollers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Slug</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @strollers.each do |stroller| %>
      <tr>
        <td><%= stroller.name %></td>
        <td><%= stroller.slug %></td>
        <td><%= stroller.image_url %></td>
        <td><%= link_to 'Show', stroller %></td>
        <td><%= link_to 'Edit', edit_stroller_path(stroller) %></td>
        <td><%= link_to 'Destroy', stroller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stroller', new_stroller_path %>
